[Unit]
Description=Check if weatherstation is online
After=network.target

[Service]
ExecStart=/home/tobi/check.sh
WorkingDirectory=/home/tobi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target